In [1]:
#A Variable Price is created without a decimal value

Price = 200

In [4]:
#To check the Value stored in that variable we will simply type that variable and execute the code

Price

200

In [5]:
#To check the characteristics or type or properties of vairable we can use the following code

type(Price)

#Here 'int' stands for "INTEGER", in Integer type of variables the values stored are non-decimal type.

int

In [6]:
#A new variable GDP is created with decimal value

GDP = 12.1

In [7]:
#Checking the Value stored in the variable

GDP

12.1

In [9]:
#To check the characteristics or type or properties of vairable we can use the following code

type(GDP)

#Here variable is 'float' which denotes that values stored in it contains decimal.

float

In [1]:
#To store character data type we use (" ") or ('') 

Student_Name = 'Josh Buck'

In [2]:
#Checking value stored in the variable

Student_Name

#String values are enclosed in parenthesis

'Josh Buck'

In [12]:
#If characters are stored in variables then they are stored as String

type(Student_Name)

#Here 'str' stands for "STRING"

str

In [13]:
#We can also store numbers as string

Product_code = "AL-15-R4-8875-7-16"

In [14]:
#Checking the value stored in the variable

Product_code

#Variable containg numbers and character as string

'AL-15-R4-8875-7-16'

In [15]:
#Checking the type of variable

type(Product_code)

str

In [18]:
#The Variables giving Logical answers in "YES" or "NO" are the Boolean Variables

is_Price_200 = (Price>100)

In [19]:
#Answer returned in the form of "YES" as a logical answer
is_Price_200

True

In [20]:
is_GDP_20 = (GDP>20)

In [21]:
#Answer returned in the form of "NO" as a logical answer

is_GDP_20

False

In [22]:
#Checking the type of variable

type(is_Price_200)

#Here 'bool' stands for "BOOLEAN" data type

bool

In [23]:
#Creating a new variable to perform Mathematical Operations

Quantity = 12

In [26]:
#Total Sales generated by Multiplying two quantitative variables

Total_sales = (Price*Quantity)

In [28]:
#Mathematical Operation Performed by Python

Total_sales

2400

In [30]:
#Since the number returned in operation does not have any decimal so the data type is 'int'

type(Total_sales)

int

In [31]:
#We Can also perform some operations on string values

Message_1 = "Hi"

In [32]:
Message_2 = "How are you"

In [33]:
Message_3 = "Have a Nice Day"

In [34]:
#Oerforming Concatenation operation on multiple String Values

Greetings_Message = Message_1 + Message_2 + Message_3

In [35]:
#All the String Values are concatenated

Greetings_Message

#Strings are concatenated without spaces as we did not mentioned to python for spaces

'HiHow are youHave a Nice Day'

In [36]:
#We can add spaces or any number or any character too while performing concatenation operation
#The hard coded values such as numbers,characters or spaces must be enclosed in parenthesis

Greetings_Message = Message_1 + ',' + ' ' + Message_2 + '?' + ' ' + Message_3

In [37]:
#New Message with spaces and other characters

Greetings_Message

'Hi, How are you? Have a Nice Day'